:root {
	--clr0: #f0eae7;
	--clr1: #daccba;
	--clr2: #895b4a;
	--clr3: #3b2621;
}

/* Header */

.bg-image {
	height: 100vh;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), url('../assets/hero-image.jpg') no-repeat center/cover;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
}

.logo {
	font-size: clamp(1.8rem, 5vw, 2rem);
	font-weight: 700;
    color: var(--clr1);
	text-transform: lowercase;
    transition: color .4s;
}

.navbar {
	width: 50%;
	display: flex;
	justify-content: flex-end;
	gap: 2.5rem;
}

.navbar a {
	font-size: clamp(1rem, 3vw, 1.1rem);
	font-weight: 600;
	color: var(--clr1);
	transition: color .4s;
}

.logo:hover, .navbar a:hover {
	color: var(--clr2);
}

.hero-section {
	width: 100%;
	display: flex;
	padding: 4rem 18px;
}

.hero-title {
	margin-bottom: 2.5rem;
	font-size: clamp(1.6rem, 5vw, 3.4rem);
	font-weight: 800;
	color: var(--clr1);
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.hero-title span {
	display: block;
	font-size: clamp(2.8rem, 7vw, 4.9rem);
	font-weight: 900;
	color: var(--clr2);
}

.btn-cta {
	padding: 16px;
	font-weight: 600;
	color: var(--clr1);
	background-color: var(--clr2);
	border: 0px solid transparent;
	border-radius: 10px;
	transition: .4s;
}

.btn-cta:hover {
	color: var(--clr2);
	background-color: var(--clr1);
}

/* Main */

main {
	background-color: var(--clr0);
}

section {
	width: 100%;
	padding: 25px 4rem;
}

.title-section {
	text-align: center;
	font-size: clamp(1.25rem, 5vw, 1.7rem);
	color: var(--clr2);
}

.about-container {
	display: flex;
	justify-content: center;
	gap: 2.2rem;
	padding: 26px 0px;
}

.about-image {
	width: 50%;
}

.about-image img {
	object-fit: cover;
	border: 0px solid transparent;
	border-radius: 8px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.about-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about-text h3 {
	font-size: clamp(1.18rem, 3vw, 1.25rem);
	margin-bottom: 14px;
	color: var(--clr2);
}

.about-text p {
	font-size: clamp(1rem, 3vw, 1.1rem);
	line-height: 150%;
	color: var(--clr2);
}

.about-links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-links {
	display: flex;
	gap: 1.1rem;
}

.social-links i {
	color: var(--clr2);
	transition: 0.4s;
}

.social-links i:hover {
	transform: translateY(-14px);
}

#menu {
	background-color: var(--clr2);
}

.menu-section h1 {
	color: var(--clr0);
}

.menu-section p {
	padding: 14px 0px;
	font-size: clamp(1rem, 3vw, 1.1rem);
	text-align: center;
	line-height: 150%;
	color: var(--clr0);
}

.menu-container {
	display: flex;
	justify-content: center;
	padding: 26px 0px;
}

.menu-content {
	width: 50%;
	display: flex;
	justify-content: space-around;
	gap: 1rem;
	padding: 0px 8px;
}

.menu-card {
	position: relative;
	width: 180px;
	height: 330px;
	border: 0px solid transparent;
	border-radius: 10px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.menu-title {
	position: absolute;
	top: -1rem;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 99;
}

.menu-title h3 {
	padding: 10px;
	font-size: clamp(1rem, 3vw, 1.1rem);
	color: var(--clr2);
	border: 0px solid transparent;
	border-radius: 10px;
	background-color: var(--clr0);
}

.menu-img {
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	border-radius: 10px;
	overflow: hidden;
}

.menu-img img {
	object-fit: cover;
	transition: 0.4s;
}

.menu-img img:hover {
	transform: scale(1.2);
}

.menu-text {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 10px;
}

.menu-text a {
	display: block;
	text-align: center;
}

#ambient {
	color: var(--clr2);
}

.ambient-section p {
	padding: 14px 0px;
	font-size: clamp(1rem, 3vw, 1.1rem);
	text-align: center;
	line-height: 150%;
}

.ambient-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.ambient-content {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	padding: 14px 0px;
}

.ambient-card {
	width: 100px;
	height: 475px;
	transition: width 0.5s;
}

.ambient-card:hover {
	width: 700px;
}

.ambient-card img {
	object-fit: cover;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	border: 0px solid transparent;
	border-radius: 50px;
}

#contact {
	background-color: var(--clr2);
}

.contact-section h1 {
	color: var(--clr0);
}

.contact-container {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 5rem;
	padding: 20px 0px;
}

.contact-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-info {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 2rem;
}

.contact-card > *, .contact-links a {
	color: var(--clr2);
	transition: 0.4s;
}

.contact-card a, .contact-links i {
	transition: 0.4s;
}

.contact-info i, .contact-links i {
	padding: 8px;
}

.contact-card {
	width: 225px;
	height: 170px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 2rem;
	text-align: center;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	border: 0px solid transparent;
	border-radius: 20px;
	background-color: var(--clr0);
}

.contact-card a:hover {
	color: var(--clr3);
}

.contact-card span {
	display: block;
	margin-block: 6px;
}

.contact-links {
	display: flex;
	justify-content: center;
}

.contact-links span {
	display: flex;
	gap: 1rem;
	background-color: var(--clr0);
	padding: 8px;
	border: 0px solid transparent;
	border-radius: 20px;
}

.contact-links i:hover {
	transform: scale(1.2);
}

.contact-image {
	width: 50%;
	height: 575px;
}

.contact-image img {
	object-fit: cover;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	border: 0px solid transparent;
	border-radius: 20px;
}

#footer {
	width: 100%;
	padding: 20px;
	background-color: var(--clr3);
}

.footer-container > *, .footer-container a {
	color: var(--clr1);
	transition: 0.4s;
}

.footer-container a:hover {
	color: var(--clr2);
}

.footer-container {
	display: flex;
	justify-content: space-around;
}

.footer-container h3 {
	margin-bottom: 10px;
}

.footer-logo {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.footer-logo a {
	font-size: 2.4rem;
	font-weight: 700;
	text-transform: lowercase;
}

.footer-navbar a, .contact-menu span {
	display: block;
	padding: 10px 0;
}

.footer-contact i {
	margin-right: 8px;
}

.footer-links i {
	padding: 12px 0;
	margin-right: 16px;
	transition: 0.4s;
}

.footer-links i:hover {
	transform: scale(1.2);
}

.footer-copyright {
	width: 100%;
	text-align: right;
	color: var(--clr1);
}

#dev-footer {
	width: 100%;
	text-align: center;
	background-color: var(--clr1);
}

.dev-footer p {
	padding: 18px;
	color: var(--clr2);
}

.dev-footer a {
	color: var(--clr2);
	font-weight: 600;
	transition: 0.4s;
}

.dev-footer a:hover {
	color: var(--clr3);
}

/* Breakpoints */

@media screen and (max-width: 1024px) {
	section {
		padding: 22px 2rem;
	}

	.menu-container {
		flex-direction: column;
		gap: 3.5rem;
	}

	.menu-content {
		width: 100%;
		justify-content: center;
		gap: 3.5rem;
	}
}

@media screen and (max-width: 768px) {
	.hero-section {
		align-items: flex-end;
		padding: 1.5rem 1rem;
	}

	.header, .about-container, .footer-container {
		flex-direction: column;
	}

	.navbar {
		width: 100%;
		justify-content: center;
		flex-wrap: wrap;
		padding: 22px 0px;
	}

	.about-image, .about-content, .contact-content {
		width: 100%;
	}

	.about-text {
		margin-bottom: 2rem;
	}

	.menu-content {
		gap: 1rem;
	}

	.menu-section p, .ambient-section p {
		text-align: left;
	}

	.ambient-content {
		flex-direction: column;
		align-items: center;
	}

	.ambient-card {
		width: 100%;
		height: 375px;
		pointer-events: none;
	}

	.ambient-card img {
		border-radius: 18px;
	}

	.contact-image {
		display: none;
	}

	.footer-container > div {
		margin-block: 1rem;
	}

	.footer-copyright {
		text-align: center;
	}
}

@media screen and (max-width: 480px) {
	section {
		padding: 22px 1rem;
	}

	.navbar {
		gap: 1rem;
	}

	.menu-content {
		gap: 0.5rem;
	}

	.ambient-card {
		height: 275px;
		pointer-events: none;
	}

	.contact-card {
		width: 150px;
		height: 150px;
		padding: 6px;
	}
}